#media-sidebar {
    position: sticky;
    top: 100px;
    height: fit-content;
}

#theme-toggle i {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.dark #theme-toggle i {
    transform: rotate(360px);
}
