/* هذا الملف مخصص لتجاوزات CSS الخاصة باتجاه النص من اليمين إلى اليسار (RTL) */ 
/* يمكنك إضافة أي قواعد CSS هنا تحتاج إلى تعديل سلوك LTR الافتراضي للصفحة عند استخدام اللغة العربية */ 
/*  
مثال: 
body[dir="rtl"] { 
    text-align: right; 
} 
.some-element[dir="rtl"] { 
    margin-left: 0; 
    margin-right: 10px; 
} 
*/ 

